In [2]:
import pandas as pd

In [19]:
df = pd.read_csv('movies_stats.csv')

In [20]:
years = list(range(1950, 2011))

In [21]:
def production_year(row):
    title = row['title']
    for year in years:
        if str(year) in title:
            return year
    return 'Less than 1950'

In [22]:
df['year'] = df.apply(production_year, axis=1)

In [23]:
print(df)

        userId  movieId  rating   timestamp  \
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

                                                 title  \
0                               Dangerous Minds (1995)
1                                         Dumbo (1941)
2                                      Sleepers (1996)
3                          Escape from New York (1981)
4       Cinema Paradiso (Nuovo cinema Paradiso) (1989)
...                                                ...
99999                     Raising Victor Vargas (2002)
100000                                   Stevie (2002)
100001                     Matrix Reloaded, The (2003)
100002                              Whale Rider (2002)
100003                               Seabiscuit (2003)

                                       genres            year
0                                       Drama            1995
1            Animation|Children|Drama|Musical  Less than 1950
2                                    Thriller            1996
3            Action|Adventure|Sci-Fi|Thriller            1981
4                                       Drama            1989
...                                       ...             ...
99999                    Comedy|Drama|Romance            2002
100000                            Documentary            2002
100001  Action|Adventure|Sci-Fi|Thriller|IMAX            2003
100002                                  Drama            2002
100003                                  Drama            2003

[100004 rows x 7 columns]

In [24]:
average_ratings = df.groupby('year')['rating'].mean()

In [25]:
average_ratings = average_ratings.sort_values(ascending=False)

In [26]:
print(average_ratings)

year
1957    4.014241
1972    4.011136
1952    4.000000
1954    3.994220
1951    3.983539
          ...
2005    3.448434
2003    3.444777
1996    3.426600
1997    3.415764
2000    3.356104
Name: rating, Length: 62, dtype: float64